<!-- about section starts -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>
    
    <div class="row">

    <div class="image">
        <img draggable="false" class="tilt" src="~/images/profile2.jpg" alt="">
    </div>
    <div class="content">
        <h3>I'm Anil Maurya</h3>
        <span class="tag">Full Stack Developer</span>
        
        <p>I love making computer programs. 
           I enjoy solving problems and finding new ways to write really good code.
           I work well with others and like sharing ideas to create cool stuff together.
           I'm always learning about new technology and ways to make programs better.
           I focus on making software that's strong and works well, and
           I'm excited about pushing the limits of what we can do with technology. </p>
        
        <div class="box-container">
            <!-- <div class="box">
              <p><span> age: </span> 20</p>
              <p><span> phone : </span> +91 7678818244</p>
            </div> -->
            <div class="box">
              <p><span> phone : </span> +91 7678818244</p>
              <p><span> email : </span> anilfgp2020@gmail.com</p>
              <p><span> place : </span> Tiloi, Amethi, UP, India - 229309</p>
            </div>
        </div>
        
        <div class="resumebtn">
            <a href="~/Resume/Anil Resume.pdf" target="_blank" class="btn"><span>Resume</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

    </div>
    </div>
</section>
<!-- about section ends -->