<!-- education section starts -->
<section class="education" id="education">

  <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>

    <p class="qoute">Education is not the learning of facts, but the training of the mind to think.</p>

    <div class="box-container">

    <div class="box">
        <div class="image">
        <img draggable="false" src="~/images/educat/college.jpg" alt="">
        </div>
        <div class="content">
        <h3>Bachelor of Technology in Computer Science</h3>
        <p>SP Memorial Institute of Technology | Mahgaon, Prayagraj, Uttar Pradesh</p>
        <h4>2023-2024 | Pursuing</h4>
        </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="~/images/educat/diploma.jpg" alt="">
      </div>
      <div class="content">
      <h3>Diploma in Computer Science And Engineering</h3>
      <p>Feroze Gandhi Polytechnic | Raebareli, Uttar Pradesh</p>
      <h4>2018-2021 | Completed</h4>
      </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="~/images/educat/school.jpg" alt="">
      </div>
      <div class="content">
      <h3>Higher Secondary Education | Mathematics </h3>
      <p>SPN Inter College | Tiloi, Amethi, Uttar Pradesh</p>
      <h4>2016-2018 | Completed</h4>
      </div>
    </div>

</div>
</section>
<!-- education section ends -->