<!-- experience section starts -->
<section class="experience" id="experience">

  <h2 class="heading"><i class="fas fa-briefcase"></i> Experience </h2>

  <div class="timeline">

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>Software Developer</h2>
        </div>
        <div class="desc">
            <h3>Offbeat Software Solutions Pvt. Ltd. <span>( Mohali, Punjab )</span></h3>
            <p>Sep 2023 - present</p>
        </div>
      </div>
    </div>

    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Jr. Software Developer | .Net Developer</h2>
        </div>
        <div class="desc">
            <h3>Offbeat Software Solutions Pvt. Ltd. <span>( Mohali, Punjab )</span> </h3>
            <p>Feb 2022 - Aug 2023</p>
        </div>
      </div>
    </div>

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>.Net Developer | Internship</h2>
        </div>
        <div class="desc">
            <h3>Techpile Technology Pvt. Ltd. <span>( Lucknow, UP )</span></h3>
            <p>June 2021 - Jan 2022</p>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- experience section ends -->